body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #000;
  color: #fff;
  text-align: center;

  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

main {
  margin: 100px 0;
}

header {
  margin-bottom: 5vh;
}

header h1 {
  font-size: 10em;
  font-weight: 900;
  letter-spacing: 0.05em;
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Syncopate', sans-serif; */
}

header p {
  letter-spacing: 0.3em;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  /* font-weight: 100; */
}

p {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

a {
  color: inherit;
  font-weight: inherit;
  font-style: italic;
  text-decoration: inherit;
}

a:hover, a:active, a:focus {
  font-weight: 300;
  letter-spacing: -0.02em;
}

.nowrap {
  white-space: nowrap;
}
